.loader {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    margin: auto;
    position: relative;
    color: #3d3939;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
    }
    33% {
      box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
    }
    66% {
      box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
    }
    100% {
      box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
    }
  }
  .buttonRandomTopic{
    position: absolute;
        bottom: 10px;
        right: 10px;
        max-width: 30%;
        height: 30%;
        font-size: 8pt;
        padding: 0;
        opacity: 0.5;

  }