.button {
padding:0px;
border: none;
background-color:transparent;

}

.button:hover{
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  cursor:pointer;
}

.clicked{
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 0.5) ;

}

.button:focus,
.button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}